project:
  type: website
  output-dir: docs

website:
  title: "TalkingML"
  site-url: https://talkingml.github.io/talkingml/
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
